.services {
  transition: all 0.5s ease-in-out;
}
body {
  background: white;
}
.heading {
  border: 2px solid #444;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: Playfair display;
  transition: all 0.3s ease-in-out;
  color: #47b2e4;
}

#services .btn {
  background: rgb(46, 46, 121);
}
.hero h1 {
  font-family: Playfair display;
}
li {
  list-style: none;
}
h1 .pricing1,
.pricing2,
.pricing3 {
  color: #002;
}
.pricing1 {
  margin-top: 15px;
  width: 340px;
  height: 350px;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 5px;
  margin-right: 17px;
  gap: 5px;
  background: rgba(204, 207, 208, 0.76);
}
.pricing2 {
  margin-top: 15px;
  width: 340px;
  height: 350px;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 5px;
  margin-right: 15px;
  background: rgba(204, 207, 208, 0.76);
}
.pricing3 {
  margin-top: 15px;
  width: 340px;
  height: 350px;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 5px;
  margin-right: 15px;
  background: rgba(204, 207, 208, 0.76);
}

.hero,
.overall-container,
.overall-contact {
  background: #eaeaec;
}
h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  border: 1px solid #eaeaec;
  background: rgb(46, 46, 121);
}

.hero-section {
  display: flex;
  gap: 0px;
  width: 100%;
  height: 90vh;
  padding: 55px;
  transition: all 0.5s ease-in-out;
  color: #002;
}

.hero-section img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 15px;
  }
}
.about {
  transition-delay: 0.4s;
}
.about p {
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 13px 15px;
}
.about h2 {
  margin-top: 5px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
  height: 60px;
  width: 140px;
  object-fit: cover;
}
.navbar {
  background: rgb(46, 46, 121);
}
.navbar-toggler-icon {
  color: #47b2e4;
  background: #47b2e4;
}
nav ul {
  float: right;
}
.inputBox {
  display: inline-block;
  padding-bottom: 5px;
  border-radius: 1px solid blue;
}
textarea {
  width: 100%;
}
input {
  width: 100%;
}
button {
  background: #47b2e4;
  width: 100%;
  border-radius: 10px;
}
/*.bars {
  text-align: end;
  rgb(46, 46, 121)
}*/
.text-container {
  text-align: center;
}
.social-links {
  gap: 15px;
}
i {
  color: #47b2e4;
}
